.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 300px;
    height: 10px;
}

.subtotal button {
    background-color: antiquewhite;
    color: black;
    border-radius: 20px;
    margin-top: 5px;
}